.custom-file-btn {
    position: relative;
    overflow: hidden;
}
.custom-file-btn-input {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.profile-cover-avatar {
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    width:100%;
    height:100%;
      position: relative;

}
.profile-cover-avatar input[type=file] {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 33, 68, .25);
    border-radius: 50%;
    transition: .2s;
}
.avatar-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #677788;
    background-color: #fff;
    border-radius: 50%;
    transition: .2s;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, .25);
}
.avatar-edit svg {
    width: 18px;
}
