<div class="row pt-2">
  <div class="col-xl-4 col-md-5">
    <div class="card">
      <div class="d-flex flex-column align-items-center">
      </div>
      <div class="widget settings-menu p-2">

        <div class="bs-component">
          <div class="list-group">
            <ng-template ngFor let-nav [ngForOf]="allLinks" let-i="index">
            <a routerLink="{{ nav.href }}" [class.active]="isActive(nav.href)"
              class="list-group-item list-group-item-action my-1">
              <i [ngClass]="nav?.icon"></i>
              <span class="ps-2">{{ nav.name | translate }}</span>
            </a>

            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
