<div class="row pt-2">
  <div class="col-xl-4 col-md-5">
    <div class="card">
      <div class="d-flex flex-column align-items-center">
        <form [formGroup]="form" autocomplete="off">
          <label class="avatar profile-cover-avatar m-0" for="edit_img">
            <img class="avatar-img w-100 h-50" [src]="getProfilePic()" alt="Profile Image" />
            <input type="file" accept="image/*" id="edit_img" />
            <button class="btn btn-outline-primary avatar-edit" placement="end" (click)="image.click()"
              ngbTooltip="{{ 'Upload_Pro' | translate }}">
              <i class="avatar-uploader-icon shadow-soft bi bi-camera text-primary"></i>
              <!-- <i class=""></i> -->
            </button>
            <input #image formControlName="image" type="file" accept="image/*" multiple="false" hidden
              (change)="onAttachmentSelect($event)" />
          </label>
        </form>
      </div>
      <div class="widget settings-menu p-2">

        <div class="bs-component">
          <div class="list-group">
            <ng-template ngFor let-nav [ngForOf]="allLinks" let-i="index">
            <a routerLink="{{ nav.href }}" [class.active]="isActive(nav.href)"
              class="list-group-item list-group-item-action my-1">
              <i [ngClass]="nav?.icon"></i>
              <span class="ps-2">{{ nav.name | translate }}</span>
            </a>

            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
