<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{'Delete_msg' | translate}}</h5>

  </div>

    <div class="modal-body m-3">
      <p class="mb-0">
        {{modelHeader | translate :{name:modelName} }}
      </p>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="onDelete()">{{'Delete' | translate}}</button>
      <button type="button" class="btn btn-secondary"  (click)="activeModal.close()">{{'Cancel' |translate}}</button>

    </div>
 </div>
