# Ignore node_modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# Environment files
.env
.env.local

# Optional: Ignore build folders
dist/
build/
