<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ "Change_Password" | translate }}</h2>
  </div>
  <div class="card-body">

    <!-- {{form.value | json}} -->
    <form [formGroup]="form" autocomplete="off">
      <div class="row form-group mb-3">
        <label for="oldPassword" class="col-sm-3 col-form-label input-label"
          [ngClass]="{ 'is-invalid': f['oldPassword'].touched && f['oldPassword'].errors, 'is-valid': f['oldPassword'].valid }">{{'oldPassword'
          | translate }}</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="oldPassword"
            placeholder="{{'oldPassword_Place' | translate }}" formControlName="oldPassword"
            onfocus="this.removeAttribute('readonly');" />
          <div *ngIf="f['oldPassword'].touched && f['oldPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['oldPassword'].errors['required']">{{'oldPassword_Req' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="row form-group mb-3">
        <label for="newPassword" class="col-sm-3 col-form-label input-label">{{'newPassword' | translate }}</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
            placeholder="{{'newPassword_Place' | translate }}" />
          <div *ngIf="f['newPassword'].touched && f['newPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['newPassword'].errors['required']">{{'newPassword_Req' | translate }}</div>
          </div>
          <!-- <div class="progress progress-md mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div> -->
        </div>
      </div>
      <div class="row form-group mb-3">
        <label for="confirm_password" class="col-sm-3 col-form-label input-label">{{'confirmPassword_Req' | translate
          }}</label>
        <div class="col-sm-9">
          <div class="mb-3">
            <input type="password" class="form-control" id="confirmPassword_Req" formControlName="confirmPassword_Req"
              placeholder="{{'confirmPassword_Place' | translate }}" />
            <div *ngIf="f['confirmPassword_Req'].touched && f['confirmPassword_Req'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword_Req'].errors['required']">{{'confirmPassword_Req' | translate }}</div>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="row pt-2">
        <div class="col-3"></div>
        <div class="col-9">

          <h5>{{'Password_requirements' | translate}}:</h5>
          <p class="mb-2">{{'pass_1' | translate}}:</p>
          <ul class="list-unstyled small">
            <li>{{'pass_2' | translate}}</li>
            <li>{{'pass_3' | translate}}</li>
            <li>{{'pass_4' | translate}}</li>
            <li>{{'pass_5' | translate}}</li>
          </ul>
        </div>
      </div> -->
      <div class="text-end">
        <button class="btn btn-primary" type="button" (click)="onUpdatePassword()"
          [attr.disabled]="!form.valid ? true : null">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
          {{'Change_Password' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
