{"openapi":"3.0.1","info":{"title":"Utility API","description":"Utility API reference for developers","contact":{"name":"Sadeem Dev. Team","url":"http://sadeemknowledge.com","email":"mkamal@sadeemknowledge.com"},"license":{"name":"@ Sadeem License","url":"http://sadeemknowledge.com"},"version":"1.0"},"servers":[{"url":"http://sadeem.eastus.cloudapp.azure.com:7070/MadkourPortal","description":"Generated server url"}],"security":[{"Bearer Authentication":[]},{"API Key Authentication":[]}],"tags":[{"name":"Actuator","description":"Spring Boot Actuator Endpoints"}],"paths":{"/api/payment/{id}":{"get":{"tags":["payment-gateway-controller"],"operationId":"getPaymentGateway","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}}}}},"put":{"tags":["payment-gateway-controller"],"operationId":"updatePaymentGateway","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}}}}},"delete":{"tags":["payment-gateway-controller"],"operationId":"deletePaymentGateway","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/profile/updatePassword":{"post":{"tags":["profile-controller"],"operationId":"updatePassword","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/profile/resetPassword":{"post":{"tags":["profile-controller"],"operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/profile/preferences/notificationPreferences":{"get":{"tags":["profile-controller"],"operationId":"getNotificationPreferences","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotificationPreferenceDTO"}}}}}},"post":{"tags":["profile-controller"],"operationId":"updateNotificationPreferences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreferenceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/profile/payment/add-card":{"post":{"tags":["profile-controller"],"operationId":"addCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSavedCardResponse"}}}}}}},"/api/profile/editProfile":{"post":{"tags":["profile-controller"],"operationId":"editProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/profile/changePassword":{"post":{"tags":["profile-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/payments/initiate":{"post":{"tags":["payment-controller"],"operationId":"initiate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiatePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitiatePaymentResponse"}}}}}}},"/api/payment":{"get":{"tags":["payment-gateway-controller"],"operationId":"getAllPaymentGateways","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}}}}}},"post":{"tags":["payment-gateway-controller"],"operationId":"savePaymentGateway","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentGatewayDTO"}}}}}}},"/api/meter-transactions":{"post":{"tags":["meter-transaction-controller"],"operationId":"createTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeterTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeterTransactionResponse"}}}}}}},"/api/meter-transactions/{transactionNumber}/callback":{"post":{"tags":["meter-transaction-controller"],"operationId":"callbackTransaction","parameters":[{"name":"transactionNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","COMPLETED","FAILED","INITIATED","ACCEPTED","REJECTED","ERROR"]}}],"responses":{"200":{"description":"OK"}}}},"/api/callbacks/cybersource":{"post":{"tags":["cybersource-webhook-controller"],"operationId":"handle","parameters":[{"name":"payload","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/Authentication/refreshToken":{"post":{"tags":["authentication-controller"],"operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponseDTO"}}}}}}},"/api/Authentication/login":{"post":{"tags":["authentication-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponseDTO"}}}}}}},"/api/Authentication/forgetPassword":{"post":{"tags":["authentication-controller"],"operationId":"forgetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgetPasswordDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReturnMessage"}}}}}}},"/Api/integration/projects":{"get":{"tags":["project-controller"],"operationId":"getAllProjects","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDTO"}}}}}}},"post":{"tags":["project-controller"],"operationId":"saveProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectDTO"}}}}}}},"/Api/integration/meters":{"get":{"tags":["meter-controller"],"operationId":"getAllMeters","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MeterDTO"}}}}}}},"post":{"tags":["meter-controller"],"operationId":"saveMeter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeterDTO"}}}}}}},"/Api/integration/customers":{"get":{"tags":["customer-controller"],"operationId":"getAllCustomers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerDTO"}}}}}}},"post":{"tags":["customer-controller"],"operationId":"saveCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}}}}}},"/Api/Integration/properties":{"get":{"tags":["property-controller"],"operationId":"getAllProperties","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PropertyDTO"}}}}}}},"post":{"tags":["property-controller"],"operationId":"saveProperty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PropertyDTO"}}}}}}},"/api/profile/payment/saved-cards":{"get":{"tags":["profile-controller"],"operationId":"getSavedCards","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSavedCardResponse"}}}}}}},"/api/profile/account/personalInfo":{"get":{"tags":["profile-controller"],"operationId":"getPersonalInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePersonalInfoResponse"}}}}}}},"/api/meter-profile":{"get":{"tags":["meter-profile-controller"],"operationId":"getUserMeters","parameters":[{"name":"meterType","in":"query","required":false,"schema":{"type":"string","enum":["GAS","WATER","ELCTRICTY"]}},{"name":"propertyNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"block","in":"query","required":false,"schema":{"type":"string"}},{"name":"areaName","in":"query","required":false,"schema":{"type":"string"}},{"name":"areaNameAr","in":"query","required":false,"schema":{"type":"string"}},{"name":"projectName","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MeterProfileDTO"}}}}}}}},"/api/consumption-history":{"get":{"tags":["consumption-history-controller"],"operationId":"getConsumptionHistory","parameters":[{"name":"meterType","in":"query","required":false,"schema":{"type":"string","enum":["GAS","WATER","ELCTRICTY"]}},{"name":"propertyNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"block","in":"query","required":false,"schema":{"type":"string"}},{"name":"areaName","in":"query","required":false,"schema":{"type":"string"}},{"name":"areaNameAr","in":"query","required":false,"schema":{"type":"string"}},{"name":"projectName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConsumptionHistoryResponse"}}}}}}}},"/Api/integration/projects/{id}":{"get":{"tags":["project-controller"],"operationId":"getProject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectDTO"}}}}}},"delete":{"tags":["project-controller"],"operationId":"deleteProject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Api/integration/meters/{id}":{"get":{"tags":["meter-controller"],"operationId":"getMeter","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeterDTO"}}}}}},"delete":{"tags":["meter-controller"],"operationId":"deleteMeter","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Api/integration/customers/{id}":{"get":{"tags":["customer-controller"],"operationId":"getCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerDTO"}}}}}},"delete":{"tags":["customer-controller"],"operationId":"deleteCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/Api/Integration/properties/{id}":{"get":{"tags":["property-controller"],"operationId":"getProperty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PropertyDTO"}}}}}},"delete":{"tags":["property-controller"],"operationId":"deleteProperty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/profile/payment/delete-card/{cardId}":{"delete":{"tags":["profile-controller"],"operationId":"deleteCard","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}}},"components":{"schemas":{"PaymentGatewayDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"imagePath":{"type":"string"},"callback":{"type":"string"}}},"ApiResponseString":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"string"},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"ResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string"}}},"NotificationPreferenceDTO":{"type":"object","properties":{"pushNotifications":{"type":"boolean"},"emailNotifications":{"type":"boolean"},"smsNotifications":{"type":"boolean"},"billReminders":{"type":"boolean"},"usageAlerts":{"type":"boolean"},"appearanceMode":{"type":"string","enum":["LIGHT","DARK","SYSTEM"]}}},"AddCardRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"cardNumber":{"type":"string"},"expiryMonth":{"type":"string"},"expiryYear":{"type":"string"},"cvc":{"type":"string"},"brand":{"type":"string"}}},"ApiResponseSavedCardResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SavedCardResponse"},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"SavedCardResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"maskedCard":{"type":"string"},"brand":{"type":"string"}}},"EditProfileRequest":{"type":"object","properties":{"fullName":{"type":"string"},"username":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"ChangePasswordRequest":{"type":"object","properties":{"oldPassword":{"type":"string"},"newPassword":{"type":"string"},"confirmPassword_Req":{"type":"string"}}},"InitiatePaymentRequest":{"required":["amount","meterId","paymentMethod"],"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"meterId":{"type":"integer","format":"int64"},"amount":{"minimum":50,"type":"number","format":"double"},"currency":{"type":"string","enum":["EGP"]},"paymentMethod":{"type":"string","enum":["GATEWAY","CASH"]},"paymentGatewayId":{"type":"integer","format":"int64"},"useSavedCard":{"type":"boolean"},"subscriptionId":{"type":"string"},"saveNewCard":{"type":"boolean"}}},"InitiatePaymentResponse":{"type":"object","properties":{"transactionUUID":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","INITIATED","ACCEPTED","REJECTED","ERROR"]},"signedFields":{"type":"object","additionalProperties":{"type":"string"}}}},"MeterTransactionRequest":{"type":"object","properties":{"meterId":{"type":"integer","format":"int64"},"amount":{"type":"number","format":"double"}}},"MeterTransactionResponse":{"type":"object","properties":{"transactionNumber":{"type":"string"},"meterSerial":{"type":"string"},"amount":{"type":"number","format":"double"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED","INITIATED","ACCEPTED","REJECTED","ERROR"]},"transactionDate":{"type":"string"}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"JwtResponseDTO":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tokenType":{"type":"string"},"username":{"type":"string"},"expirationAt":{"type":"integer","format":"int64"}}},"AuthRequestDTO":{"type":"object","properties":{"userName":{"type":"string"},"password":{"type":"string"}}},"ForgetPasswordDto":{"type":"object","properties":{"username":{"type":"string"},"email":{"type":"string"}}},"ReturnMessage":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}},"AreaDTO":{"type":"object","properties":{"nameAr":{"type":"string"},"name":{"type":"string"},"code":{"type":"integer","format":"int64"}}},"ProjectDTO":{"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"image":{"type":"string"},"area":{"$ref":"#/components/schemas/AreaDTO"},"zone":{"type":"string"},"code":{"type":"integer","format":"int64"}}},"ActivityDTO":{"type":"object","properties":{"nameAr":{"type":"string"},"name":{"type":"string"},"code":{"type":"integer","format":"int64"}}},"Address":{"type":"object","properties":{"street":{"type":"string"},"buildingNumber":{"type":"string"},"additionalInfo":{"type":"string"},"block":{"type":"string"},"floor":{"type":"string"}}},"CustomerDTO":{"type":"object","properties":{"email":{"type":"string"},"fullName":{"type":"string"},"phoneNumber":{"type":"string"},"contact":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"nationalId":{"type":"string"},"nationalIdAddress":{"type":"string"},"job":{"type":"string"},"erpCode":{"type":"string"},"code":{"type":"integer","format":"int64"}}},"MeterDTO":{"type":"object","properties":{"serial":{"type":"string"},"port":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["GAS","WATER","ELCTRICTY"]},"customer":{"$ref":"#/components/schemas/CustomerDTO"},"property":{"$ref":"#/components/schemas/PropertyDTO"},"model":{"type":"string"},"erpCode":{"type":"string"},"code":{"type":"integer","format":"int64"}}},"PropertyDTO":{"type":"object","properties":{"number":{"type":"string"},"propertyNo":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"},"activity":{"$ref":"#/components/schemas/ActivityDTO"},"project":{"$ref":"#/components/schemas/ProjectDTO"},"customer":{"$ref":"#/components/schemas/CustomerDTO"},"code":{"type":"integer","format":"int64"}}},"ApiResponseNotificationPreferenceDTO":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/NotificationPreferenceDTO"},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"ApiResponseListSavedCardResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SavedCardResponse"}},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"ApiResponsePersonalInfoResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PersonalInfoResponse"},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"PersonalInfoResponse":{"type":"object","properties":{"email":{"type":"string"},"phoneNumber":{"type":"string"},"passwordLastChangedAt":{"type":"string"},"address":{"type":"string"},"accountType":{"type":"string"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"MeterProfileDTO":{"type":"object","properties":{"meterId":{"type":"integer","format":"int64"},"meterSerial":{"type":"string"},"type":{"type":"string","enum":["GAS","WATER","ELCTRICTY"]},"propertyNo":{"type":"string"},"block":{"type":"string"},"availableCredit":{"type":"number","format":"double"},"consumption":{"type":"number","format":"double"}}},"ConsumptionHistoryResponse":{"type":"object","properties":{"meterSerial":{"type":"string"},"propertyNo":{"type":"string"},"address":{"type":"string"},"month":{"type":"string"},"consumption":{"type":"string"},"cost":{"type":"string"},"readingValue":{"type":"number","format":"double"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"API Key Authentication":{"type":"apiKey","name":"X-API-KEY","in":"header"}}}}
