<section class="main-content">
    <div class="header">
      <div class="header-title">
        <h2>{{'Meters_Summary' | translate}}</h2>
      </div>
      <!-- <div class="header-actions">
        <div class="btn-group">
          <button class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            {{'Export' | translate}}
          </button>
        </div>
      </div> -->
    </div>

    <div class="datatable-container">
      <div class="datatable-controls">
        <div class="datatable-length">
          <select>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <!-- <div class="datatable-search">
          <input type="search" placeholder="Search...">
        </div> -->
      </div>

      <div *ngIf="!isLoading" class="table-responsive d-none d-md-block">
        <table class="table px-1">
          <thead>
            <tr>
              <th *ngFor="let col of listOfColumns" (click)="col !== 'Action' ?onSort(col) : null">
                {{col | translate}}
                <i *ngIf="col !== 'Action'" class="fas ms-1 {{getSortIcon(col)}}"></i>
              </th>
            </tr>
          </thead>
          <app-spinner></app-spinner>
          <tbody *ngIf="meterSummeryData.content.length > 0">
            <tr *ngFor="let data of meterSummeryData.content">
              <td>{{data.meterId}}</td>
              <td>{{data.meterSerial}}</td>
              <td>{{data.type | translate}}</td>
              <td>{{data.block}}-{{data.propertyNo}}</td>
              <td>{{data.availableCredit | number}} {{ 'LE' | translate }}</td>
              <td>{{data.consumption | number}}</td>


              <td>


                <!-- Charge Button -->
                <button class="btn btn-success mx-2" ngbTooltip="{{ 'Charge' | translate }}" (click)="onChargeMeter(data)">
                  <i class="fa fa-bolt"></i> {{ 'Charge' | translate }}
                </button>

              </td>
            </tr>
          </tbody>
          <tbody style="height: 40vh;" *ngIf="meterSummeryData.content.length === 0"></tbody>
        </table>
      </div>

      <div *ngIf="!isLoading" class="d-block d-md-none">
        <div class="row">
          <div class="col-12 mb-3" *ngFor="let data of meterSummeryData.content">
            <div class="card meter-summary-card">
              <div class="card-body">
                <p class="card-text"><strong>{{ 'Serial' | translate }}:</strong> {{ data.meterSerial }}</p>
                <p class="card-text"><strong>{{ 'Type' | translate }}:</strong> {{ data.type | translate }}</p>
                <p class="card-text"><strong>{{ 'dashboardThree.Location' | translate }}:</strong> {{ data.block }}-{{ data.propertyNo }}</p>
                <p class="card-text"><strong>{{ 'Available_Credit' | translate }}:</strong> {{ data.availableCredit | number }} {{ 'LE' | translate }}</p>
                <p class="card-text"><strong>{{ 'Consumption' | translate }}:</strong> {{ data.consumption | number }}</p>
                <div class="d-flex justify-content-between mt-3">
                  <button ngbTooltip="{{ 'Details' | translate }}" class="btn  btn-info mx-2">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-success mx-2" ngbTooltip="{{ 'Charge' | translate }}" (click)="onChargeMeter(data)">
                    <i class="fa fa-bolt"></i> {{ 'Charge' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination" *ngIf="!isLoading">
        <div class="dataTable-info">
          {{ 'DataTable_info' |
          translate : {
          from: (meterSummeryData.pageable.pageNumber * meterSummeryData.pageable.pageSize) +1 ,
          to: Math.min(((meterSummeryData.pageable.pageNumber+1) * meterSummeryData.pageable.pageSize),meterSummeryData.totalElements) ,
          Total:meterSummeryData.totalElements }
          }}
          <ngb-pagination *ngIf="!isLoading" [collectionSize]="meterSummeryData.totalElements" [(page)]="paging.page"
            [maxSize]="3" [pageSize]="paging.size" (pageChange)="pageChange()"></ngb-pagination>
        </div>
      </div>
    </div>

</section>
