<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{modelData._modelHeader | translate}}</h5>

    </div>
    <div class="modal-body m-3">
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- <div class="form-group mb-3">
                        <label class="form-label" for="password">{{'Password' | translate}}</label>
                        <div class="input-group">
                            <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="password"
                                formControlName="password" placeholder="{{ 'Password_Place' | translate}}"
                                [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors, 'is-valid': f['password'].valid }">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="togglePasswordVisibility()">
                                <i [ngClass]="hidePassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </button>
                        </div>
                        <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">{{ 'Password_Req' | translate}}</div>
                        </div>
                    </div> -->
                    <div class="form-group mb-3">
                        <label class="form-control-label">{{ "New_Password" | translate }}
                        </label>
                        <div class="pass-group">
                           <input readonly type="{{ hidePassword ? 'password' : 'text' }}"
                              class="form-control pass-input" placeholder="{{ 'New_Password_Place' | translate }}"
                              onfocus="this.removeAttribute('readonly');" formControlName="password" />
                           <div (click)="togglePasswordVisibility()">
                              <i *ngIf="hidePassword" class="fe fe-eye-off toggle-password"></i>
                              <i *ngIf="!hidePassword" class="fe fe-eye toggle-password"></i>
                           </div>
                        </div>
                        <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
                           <div *ngIf="f['password'].errors['required']">
                              {{ "Password_Req" | translate }}
                           </div>
                        </div>
                     </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-bs-dismiss="modal" (click)="onSubmitForms()"
            class="btn btn-primary me-2" [attr.disabled]="!form.valid ? true : null">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status"
                aria-hidden="true"></span>
            {{modelData._isEdit ? 'Update' : 'Save' | translate}}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" class="btn btn-outline-danger"
            (click)="activeModal.close()">{{'Close' | translate}}</button>
    </div>
</div>