.toggle-password {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
    cursor: pointer;
  }
  
  
  .pass-group {
    position: relative;
  }