footer.footer {
  padding: $spacer $spacer*0.875;
  // direction: ltr;
  position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
  // background: $footer-bg;

  ul {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}
