.navbar {
  border-bottom: $navbar-border-bottom;
  box-shadow: $navbar-box-shadow;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
  -webkit-user-select: none;
	-webkit-touch-callout: default;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
color: $navbar-brand-color;
  // .navbar-collapse {
  //   flex-grow: inherit;

  // }
  .navbar-brand {
    display: flex;
    align-items: center;
    width:5.5rem;
    padding:0;
    margin:0;

    .logo {
      margin-inline-end: 10px;
    }

  }
  @include media-breakpoint-down(md) {
    width: 100vw;
  }

  .nav-link{
    color: $navbar-brand-color;
  }
}

.navbar .avatar {
  margin-top: -15px;
  margin-bottom: -15px;
}



.navbar-align {
  margin-inline-start: auto;
}

.navbar-bg {
  background: $navbar-bg;
}

.navbar-brand {
  font-weight: $navbar-brand-font-weight;
  font-size: $navbar-brand-font-size;
  padding: $navbar-brand-padding-y $navbar-brand-padding-x;
  color: $navbar-brand-color;
  display: block;


  svg,
  i,
  .feather {
    color: $navbar-brand-icon-color;
    height: 24px;
    width: 24px;
    margin-inline-start: -0.15rem;
    margin-inline-end: 0.375rem;
    margin-top: -0.375rem;
  }
}

.nav-icon,
.nav-flag {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: $gray-600;
  transition: $transition-appearance-fast;
  line-height: 1.4;

  text-decoration: none;

  &:after {
    display: none !important;
  }

  &:hover,
  &.active {
    color: $primary;
  }

  svg,
  .feather {
    width: 20px;
    height: 20px;
  }
  .fe{
    font-size: 16px;
    text-decoration: none;
  }
}

.nav-item {
  .indicator {
    background: $primary;
    box-shadow: $box-shadow;
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    inset-inline-end: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: 0.675rem;
    color: $white;
  }

  &:hover .indicator {
    top: -4px;
  }

  a:focus {
    outline: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding: 0.75rem;
  }

  .nav-icon {
    padding: .1rem .75rem;

  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }

  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .nav-item .nav-link:after {
    display: none;
  }
}

.nav-flag img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.navbar input {
  // direction: ltr;
}
