<div class="Auth-wrapper pt-4">
    <div class="container">
    <div class="row justify-content-center align-items-center">

        <div class="col-md-4">

            <div class="auth-container">
                <div class="auth-right">
                  <div class="auth-right-wrap">
                    <div class="head text-center">
                        <img class="logo" src="assets/img/image.svg" alt=""  style="width:200px;"/>
                      </div>
                      <h6 class="text-center text-danger">
                        {{ error }}
                      </h6>
                      <form [formGroup]="form" autocomplete="off">

                        <div class="form-group mb-3">
                           <label class="form-control-label" for="newPassword">{{ "Password" | translate }}
                           </label>
                           <div class="pass-group">
                              <input readonly type="{{ !passwordVisible ? 'password' : 'text' }}"
                                 class="form-control pass-input" placeholder="{{ 'Password_place' | translate }}"
                                 onfocus="this.removeAttribute('readonly');" formControlName="newPassword" />
                              <div (click)="passwordVisible = !passwordVisible">
                                 <i *ngIf="passwordVisible" class="fe fe-eye-off toggle-password"></i>
                                 <i *ngIf="!passwordVisible" class="fe fe-eye toggle-password"></i>
                              </div>
                           </div>
                           <div *ngIf="f['newPassword'].touched && f['newPassword'].errors" class="invalid-feedback">
                              <div *ngIf="f['newPassword'].errors['required']">
                                 {{ "Password_Req" | translate }}
                              </div>
                           </div>
                        </div>
                        <div class="form-group mb-3">
                           <label class="form-control-label" for="repeat_new_password">{{ "Repeat_Password" | translate }}
                           </label>
                           <div class="pass-group">
                              <input readonly type="{{ !repearPasswordVisible ? 'password' : 'text' }}"
                                 class="form-control pass-input" placeholder="{{ 'Password_place' | translate }}"
                                 onfocus="this.removeAttribute('readonly');" formControlName="repeat_new_password" />
                              <div (click)="repearPasswordVisible = ! repearPasswordVisible">
                                 <i *ngIf="repearPasswordVisible" class="fe fe-eye-off toggle-password"></i>
                                 <i *ngIf="!repearPasswordVisible" class="fe fe-eye toggle-password"></i>
                              </div>
                           </div>

                           <div class="invalid-feedback">
                              <div *ngIf="form.get('repeat_new_password')?.hasError('error')">
                                 {{ "Password_Req" | translate }}
                              </div>
                              <div *ngIf="form.get('repeat_new_password')?.hasError('confirm')">
                                 {{ "confirm_password" | translate }}
                              </div>
                           </div>
                        </div>

                        <div class="row align-items-end py-2">
                           <div class="col-6">
                              <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                 <input type="checkbox" class="custom-control-input" id="cb1" />
                                 <label class="custom-control-label" for="cb1">{{ "Remember_Me" | translate }}</label>
                              </div>
                           </div>
                           <div class="col-6">
                              <a class="text-primary" [routerLink]="['/Auth/Forget_Password']">{{'Forget_Password' | translate}}</a>
                           </div>

                        </div>

                        <button class="btn btn-lg btn-block btn-primary w-100 mt-2" (click)="onSubmit()"
                           [disabled]="!form.valid">
                           <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status"
                              aria-hidden="true"></span>
                           {{ "Reset_Password" | translate }}
                        </button>
                     </form>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-8">
            <img
            class="img-fluid cover-100"
            src="assets/img/cover/reset_password.svg"
            alt="cover"
          />
        </div>
      </div>
    </div>
    </div>
