
    <div class="meter-card ">
        <div class="meter-header" [ngClass]="currentMeter.type">
            <div class="meter-type d-flex flex-column justify-content-center g-4 align-items-center text-white">
 
                <h4 class="text-black"> 
                    <i class="text-white" [ngClass]="getIcons(currentMeter.type)">
                    </i>
                    {{ currentMeter.type| translate }}</h4>
                <span class="type-text text-black">{{ currentMeter.meterSerial| translate }}</span>
            </div>
        </div>
        <div class="meter-body">
            <div class="meter-location">
                <strong>{{ 'dashboardThree.location' | translate }}:</strong> {{currentMeter.block}},{{currentMeter.propertyNo}}
            </div>
            <div class="meter-balance">
                <div class="balance-label">{{ 'currentBalance' | translate }}</div>
                <div class="balance-amount">{{currentMeter.availableCredit | number}} EGP</div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="meter-consumption">
                <div class="consumption-label">{{ 'lastMonthUsage' | translate }}</div>
                <div class="consumption-amount">{{currentMeter.consumption | number}} kWh</div>
            </div>
        </div>
        <div class="meter-footer">
            <button class="btn btn-outline-primary mx-2"><i class="fa fa-sync-alt"></i> {{ 'View_Balance' | translate}}</button>
            <button   (click)="viewMeterHistory(currentMeter)"   class="btn btn-primary"><i class="fa fa-credit-card"></i> {{ 'View_History' | translate }}</button>
        </div>
    </div>
