<app-alerts></app-alerts>
  <app-navbar [isCollapsed]="isCollapsed" (isCollapseChanged)="onChangeCollapsed($event)"></app-navbar>
  <div class="wrapper">
    <app-side-nav [isCollapsed]="isCollapsed" class="test"></app-side-nav>
    <div class="main">  <!-- Optional class for easier CSS targeting -->
      <ng-scrollbar class="layout-scrollbar" visibility="hover" style="height: 100%; overflow: auto;">
        <main class="content">
          <div class=" main-layout-container">
            <router-outlet></router-outlet>
          </div>
          <app-footer></app-footer>
        </main>
      </ng-scrollbar>
    </div>
  </div>
  
  <!-- </body> -->