<!-- Dashboard Quick Stats -->
<div class="row stats-row">
  <div class="col-md-3">
    <div class="stat-card">
      <div class="stat-card-content">
        <div class="stat-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <div class="stat-info mx-2">
          <div class="stat-title">{{ 'dashboardTemp.totalMeters' | translate }}</div>
          <div class="stat-value">{{meterSummery.total | number}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat-card" (click)="navigateToMeterList('ELECTRICITY')">
      <div class="stat-card-content">
        <div class="stat-icon">
          <i class="fas fa-bolt"></i>
        </div>
        <div class="stat-info mx-2">
          <div class="stat-title">{{ 'dashboardTemp.electricityMeters' | translate }}</div>
          <div class="stat-value">{{meterSummery.ELECTRICITY | number}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat-card" (click)="navigateToMeterList('WATER')">
      <div class="stat-card-content">
        <div class="stat-icon">
          <i class="fas fa-tint"></i>
        </div>
        <div class="stat-info mx-2">
          <div class="stat-title">{{ 'dashboardTemp.waterMeters' | translate }}</div>
          <div class="stat-value">{{meterSummery.WATER | number}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat-card" (click)="navigateToMeterList('GAS')">
      <div class="stat-card-content">
        <div class="stat-icon">
          <i class="fas fa-fire"></i>
        </div>
        <div class="stat-info mx-2">
          <div class="stat-title">{{ 'dashboardTemp.waterGas' | translate }}</div>
          <div class="stat-value">{{meterSummery.GAS | number}}</div>
        </div>
      </div>
    </div>
  </div>
</div>