<div class="Auth-wrapper pt-4">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 col-sm-8 py-3">
        <div class="auth-container">
          <div class="auth-right">
            <div class="auth-right-wrap">
              <div class="head text-center">
                <img
                  class="logo"
                  src="assets/img/image1.png"
                  alt=""
                  class="w-50 m-2"
                />
              </div>
              <h6 class="text-center text-danger">
                {{ error | translate }}
              </h6>
              <form
                *ngIf="!this.submitted"
                [formGroup]="forgetForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="form-group mb-3">
                  <label class="form-control-label">{{
                    'Username' | translate
                  }}</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="username"
                    placeholder="{{ 'Username_Place' | translate }}"
                    onfocus="this.removeAttribute('readonly');"
                    [ngClass]="{
                      'is-invalid':
                        f['username'].touched && f['username'].errors
                    }"
                  />
                  <div
                    *ngIf="f['username'].touched && f['username'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['username'].errors['required']">
                      {{ 'Username_Req' | translate }}
                    </div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label class="form-control-label">{{
                    'E_Mail' | translate
                  }}</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="{{ 'E_Mail_Place' | translate }}"
                    onfocus="this.removeAttribute('readonly');"
                    [ngClass]="{
                      'is-invalid': f['email'].touched && f['email'].errors
                    }"
                  />
                  <div
                    *ngIf="f['email'].touched && f['email'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['email'].errors['required']">
                      {{ 'E_Mail_Req' | translate }}
                    </div>
                    <div *ngIf="f['email'].errors['pattern']">
                      {{ 'E_Mail_inValid' | translate }}
                    </div>
                  </div>
                </div>

                <button
                  class="btn btn-md btn-block btn-primary w-100"
                  type="submit"
                >
                  <span
                    *ngIf="isLoading"
                    class="spinner-border spinner-border-sm me-1"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  {{ 'Forget_Password' | translate }}
                </button>
                <!-- <button class="btn btn-primary" type="button" data-bs-dismiss="modal" (click)="onSubmitForms()"
                  class="btn btn-primary me-2" [attr.disabled]="!form.valid ? true : null">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status"
                    aria-hidden="true"></span>
                  {{modelData._isEdit ? 'Assign' : 'Save' | translate}}
                </button> -->
                <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">{{ 'Or' | translate }}</span>
                </div>
                <div class="text-center  dont-have">
                  <span>                  {{ 'remember_pass' | translate
                  }}</span>
<a class="mx-2" routerLink="/Auth/Login">{{ 'Login' | translate }}</a>
                </div>
              </form>

              <div *ngIf="this.submitted" class="text-center mx-3 dont-have">
                {{ 'Check_E_Mail' | translate }}
                <div class="text-center dont-have ">
                  {{ 'Bk' | translate
                  }}<a routerLink="/Auth/Login">{{ 'Login' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
