<nav class="navbar navbar-expand navbar-bg" 
     [attr.dir]="isRTL ? 'rtl' : 'ltr'"
     [class.dark-theme]="isDarkMode"
     [attr.data-bs-theme]="isDarkMode ? 'dark' : 'light'">
  <div class="container-fluid navbar-container">
    
    <!-- Left Section: Logo + Toggle + Search (new order) -->
    <div class="navbar-left-section">
      <!-- Logo comes FIRST -->
      <a class="navbar-brand ms-lg-5" (click)="onLogoClick($event)">
        <img src="./assets/img/image.svg" width="130" height="30" alt="Madkour">
      </a>
      
      <a class="sidebar-toggle" (click)="collapse()">
        <span class="toggler-wrapper">
              
      <!-- <i *ngIf="isCollapsed" class="bi bi-toggle-off"></i>
      <i *ngIf="!isCollapsed" class="bi bi-toggle-on"></i> -->
          <!-- Show hamburger when sidebar is CLOSED (isCollapsed = true) -->
          <i *ngIf="isCollapsed" 
             class="bi bi-list fa-2xl toggler-icon"
             [class.text-black]="!isDarkMode"
             [class.text-white]="isDarkMode"></i>
          
          <!-- Show X when sidebar is OPEN (isCollapsed = false) -->
          <i *ngIf="!isCollapsed" 
             class="bi bi-x-lg fa-2xl toggler-icon"
             [class.text-black]="!isDarkMode"
             [class.text-white]="isDarkMode"></i>
        </span>
      </a>
      
      
      
      
      <!-- Search comes THIRD (after toggle) -->
      <div class="navbar-search-inline d-none mx-5 d-lg-block">
        <ng-select
          [items]="filteredLinks"
          bindLabel="translatedName"
          bindValue="href"
          (search)="onSearchPage($event)"
          [placeholder]="'Search_Link' | translate"
          (change)="onSelectPage($event)"
          [clearable]="false"
          [searchable]="true"
          class="compact-search"
          [class.dark-theme]="isDarkMode">
          <ng-template ng-option-tmp let-item="item">
            <i [ngClass]="item.icon" class="icon-class me-2"></i>
            {{ item.translatedName }}
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <i [ngClass]="item.icon" class="icon-class me-2"></i>
            {{ item.translatedName }}
          </ng-template>
        </ng-select>
      </div>
    </div>

    <!-- Right Section: All Navigation Items in Single Line -->
    <div class="navbar-right-section">
      <ul class="navbar-nav navbar-nav-items">
        
        <!-- Theme Toggle -->
        <li *ngIf="showThemeToggler" class="nav-item ms-3">
          <button 
            class="nav-btn theme-toggle" 
            (click)="toggleDarkMode()"
            [disabled]="isThemeLoading"
            [attr.aria-label]="isDarkMode ? ('Switch to light mode' | translate) : ('Switch to dark mode' | translate)"
            [title]="isDarkMode ? ('Switch to light mode' | translate) : ('Switch to dark mode' | translate)"
            [attr.data-theme-status]="currentThemeStatus">
            <i *ngIf="!isThemeLoading" 
               [class]="isDarkMode ? 'fas fa-moon' : 'fas fa-sun'"></i>
            <span class="btn-text">

                {{(isDarkMode ? ('Dark' | translate) : ('Light' | translate)) }}
            </span>
          </button>
        </li>

        <!-- Rest of your navbar items remain the same -->
<!-- Notifications -->
<li class="nav-item dropdown notification-dropdown" ngbDropdown [placement]="isRTL ? 'bottom-start' : 'bottom-end'">
  <a class="nav-btn dropdown-toggle notification-trigger" ngbDropdownToggle id="notificationsDropdown">
    <i class="fas fa-bell"></i>
    <span class="notification-count" *ngIf="hasUnreadNotifications">{{ displayNotificationCount }}</span>
    <span class="btn-text d-none d-lg-inline">{{ 'Notifications' | translate }}</span>
  </a>

  <div class="dropdown-menu notification-dropdown-menu" 
       aria-labelledby="notificationsDropdown" 
       ngbDropdownMenu
       [class.dark-theme]="isDarkMode">
    
    <div class="dropdown-menu-header" [class.dark-theme]="isDarkMode">
      {{ unreadNotificationCount }} {{ 'New Notifications' | translate }}
    </div>
    
    <!-- Notification List -->
    <div class="list-group" *ngIf="notificationList && notificationList.length > 0">
      <a class="list-group-item" 
         [class.dark-theme]="isDarkMode"
         ngbDropdownItem 
         *ngFor="let notify of notificationList; trackBy: trackByNotificationId" 
         (click)="markAsRead(notify)">
        <div class="row g-0">
          <div class="col-1">
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <div class="col-11">
            <div class="notification-title">{{ notify.title }}</div>
            <div class="notification-message">
              <p>{{ notify.message }}</p>
            </div>
            <div class="notification-time">{{ notify.timestamp }}</div>
          </div>
        </div>
      </a>
    </div>
    
    <!-- Empty State -->
    <div class="no-notifications" *ngIf="!notificationList || notificationList.length === 0">
      <i class="fas fa-bell-slash"></i>
      <div>{{ 'No notifications' | translate }}</div>
    </div>
  </div>
</li>


        <!-- Language Selector -->
        <li class="nav-item dropdown py-lg-2" ngbDropdown [placement]="isRTL ? 'bottom-start' : 'bottom-end'">
          <a class="nav-btn dropdown-toggle" ngbDropdownToggle id="languageDropdown">
            <img [src]="getFlagImagePath()" 
                 [alt]="currentLanguage || 'English'"
                 loading="lazy"
                 width="20"
                 height="15"
                 class="flag-img">
            <span class="btn-text d-none d-lg-inline">{{ currentLanguage || 'EN' }}</span>
          </a>
          
          <div class="dropdown-menu" 
               aria-labelledby="languageDropdown" 
               ngbDropdownMenu
               [class.dark-theme]="isDarkMode">
            <a ngbDropdownItem 
               class="dropdown-item" 
               *ngFor="let lang of languageList"
               (click)="changeLanguage(lang.value)" 
               [class.active]="(currentLanguage || 'en') === lang.value"
               [disabled]="(currentLanguage || 'en') === lang.value">
              <img [src]="lang.image" 
                   [alt]="lang.name" 
                   width="20" 
                   height="15"
                   class="me-2">
              {{lang.name | translate}}
            </a>
          </div>
        </li>

        <!-- Profile Menu -->
        <li class="nav-item dropdown" ngbDropdown [placement]="isRTL ? 'bottom-start' : 'bottom-end'">
          <a class="nav-btn dropdown-toggle profile-btn" id="profile" ngbDropdownToggle>
            <img [src]="url" class="avatar" alt="profile" />
            <span class="btn-text d-none d-sm-inline username-text">{{currentUser ? currentUser.username : ""}}</span>
          </a>

          <div class="dropdown-menu" 
               ngbDropdownMenu 
               aria-labelledby="profile"
               [class.dark-theme]="isDarkMode">
            <a class="dropdown-item" [routerLink]="'/Profile'" ngbDropdownItem>
              <i class="fa-solid fa-address-card me-2"></i>
              {{ "View_Profile" | translate }}
            </a>
            <a class="dropdown-item" [routerLink]="'/Profile/Edit_Profile'" ngbDropdownItem>
              <i class="fa-solid fa-user-pen me-2"></i>
              {{ "Edit_Profile" | translate }}
            </a>
            <a class="dropdown-item" [routerLink]="'/Profile/Change_Password'" ngbDropdownItem>
              <i class="fa-solid fa-key me-2"></i>
              {{ "Change_Password" | translate }}
            </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
              {{ 'Logout' | translate }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>