<footer class=" py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="assets/img/image.svg" alt="Madkour Logo" width="220" height="160" class="mb-4">
        <p class="">{{ 'footer.description' | translate }}</p>
      </div>
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class=" mb-4">{{ 'footer.help' | translate }}</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.reliable' | translate }}</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.secure' | translate }}</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.support' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class=" mb-4">{{ 'footer.resources' | translate }}</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.blog' | translate }}</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.helpCenter' | translate }}</a></li>
          <li class="mb-2"><a href="#" class="text-light text-decoration-none">{{ 'footer.contact' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <h5 class=" mb-4">{{ 'footer.stayConnected' | translate }}</h5>
        <div class="d-flex gap-3 mb-4">
          <a href=" https://www.facebook.com/profile.php?id=61577325328234" class="text-light"><i class="bi bi-facebook fs-5"></i></a>
          <a href=" https://www.linkedin.com/showcase/madkour-utilities/" class="text-light"><i class="bi bi-linkedin fs-5"></i></a>
        </div>
        <p class="text-light mb-0">{{ 'footer.subscribe' | translate }}</p>
      </div>
    </div>
    <hr class="my-5 bg-secondary">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="text-primary mb-0">© 2025 Madkour. {{ 'footer.rightsReserved' | translate }}</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-light">{{ 'footer.terms' | translate }}</a></li>
          <li class="list-inline-item mx-3"><a href="#" class="text-light">{{ 'footer.privacy' | translate }}</a></li>
          <li class="list-inline-item"><a href="#" class="text-light">{{ 'footer.cookies' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</footer>
